<footer class="footer">
    <img class="bg" src="img/footer/footer-bg.svg" alt=""/>
    <div class="frame-26">
        <div class="frame-27">
            <div class="footer-logo">
                <img class="group-17" src="img/footer/footer-logo.png" alt="台灣可及環境設計協會"/>
            </div>
            <div class="frame-28">
                <img class="footer-social-media" src="img/footer/footer-social-media-youtube.svg" alt="YouTube"/>
                <img class="footer-social-media" src="img/footer/footer-social-media-line.svg" alt="Line@"/>
                <div class="footer-social-media-2"></div>
            </div>
            <div class="frame-29">
                <div class="frame-30">
                    <img class="icon" src="img/footer/property-1-map.svg" alt="address"/>
                    <div class="text-wrapper-15">406台中市北屯區松竹路二段八六巷二八弄 22 號二樓之二</div>
                </div>
                <div class="frame-30">
                    <img class="icon" src="img/footer/property-1-phone.svg" alt="tel"/>
                    <div class="text-wrapper-15">聯絡電話：04-22437659</div>
                </div>
                <div class="frame-30">
                    <img class="icon" src="img/footer/property-1-fax.svg" alt="fax"/>
                    <div class="text-wrapper-15">傳真號碼：04-25370205</div>
                </div>
            </div>
        </div>
        <div class="frame-31">
            <div class="div-2">
                <div class="footer-page-link">
                    <img class="footer-illustration" src="img/footer/footer-illustration-decor-left.svg" alt=""/>
                    <div class="text-wrapper-16">最新消息</div>
                    <img class="footer-illustration" src="img/footer/footer-illustration-decor-right.svg" alt=""/>
                </div>
                <div class="footer-page-link">
                    <img class="footer-illustration" src="img/footer/footer-illustration-decor-left.svg" alt=""/>
                    <div class="text-wrapper-16">認識協會</div>
                    <img class="footer-illustration" src="img/footer/footer-illustration-decor-right.svg" alt=""/>
                </div>
                <div class="footer-page-link">
                    <img class="footer-illustration" src="img/footer/footer-illustration-decor-left.svg" alt=""/>
                    <div class="text-wrapper-16">專業服務</div>
                    <img class="footer-illustration" src="img/footer/footer-illustration-decor-right.svg" alt=""/>
                </div>
            </div>
            <div class="div-2">
                <div class="footer-page-link">
                    <img class="footer-illustration" src="img/footer/footer-illustration-decor-left.svg" alt=""/>
                    <div class="text-wrapper-16">推廣行動</div>
                    <img class="footer-illustration" src="img/footer/footer-illustration-decor-right.svg" alt=""/>
                </div>
                <div class="footer-page-link">
                    <img class="footer-illustration" src="img/footer/footer-illustration-decor-left.svg" alt=""/>
                    <div class="text-wrapper-16">相關資源</div>
                    <img class="footer-illustration" src="img/footer/footer-illustration-decor-right.svg" alt=""/>
                </div>
                <div class="footer-page-link">
                    <img class="footer-illustration" src="img/footer/footer-illustration-decor-left.svg" alt=""/>
                    <div class="text-wrapper-16">加入我們</div>
                    <img class="footer-illustration" src="img/footer/footer-illustration-decor-right.svg" alt=""/>
                </div>
            </div>
        </div>
    </div>
</footer>