
<!-- nav 一般比較複雜一些，我先留到周末 -->
<nav class="nav-bar" aria-label="主選單">
  <div class="nav-logo">
    <a href="/" title="回協會首頁">
      <img class="logo" src="img/logo.png" alt="logo"/>
    </a>
  </div>
  <div class="nav-content-wrapper">
    <ul class="nav-menu-list">
      <li class="nav">
        <div class="nav-link">最新消息</div>
        <img class="icon-arrow" src="img/icon-arrow.svg" alt=""/>
      </li>
      <li class="nav">
        <div class="nav-link">認識協會</div>
        <img class="icon-arrow" src="img/icon-arrow.svg" alt=""/>
      </li>
      <li class="nav">
        <div class="nav-link">專業服務</div>
        <img class="icon-arrow" src="img/icon-arrow.svg" alt=""/>
      </li>
      <li class="nav">
        <div class="nav-link">推廣行動</div>
        <img class="icon-arrow" src="img/icon-arrow.svg" alt=""/>
      </li>
      <li class="nav">
        <div class="nav-link">相關資源</div>
        <img class="icon-arrow" src="img/icon-arrow.svg" alt=""/>
      </li>
      <li class="nav">
        <div class="nav-link">加入我們</div>
        <img class="icon-arrow" src="img/icon-arrow.svg" alt=""/>
      </li>
    </ul>

    <img class="nav-divider" src="img/nav-divider.svg" alt=""/>

    <div class="nav-2">
      <div class="nav-link">學生競圖</div>
      <img class="icon-external" src="img/icon-external.svg" alt=""/>
    </div>
  </div>
</nav>