<nav class="nav-bar" aria-label="主選單">
    <div class="nav-logo">
        <a href="index.html" title="回協會首頁">
            <img class="logo" src="img/logo.png" alt="台灣可及環境設計協會 - 回首頁"/>
        </a>
    </div>

    <!-- A11y updated -->
    
    <div class="nav-content-wrapper">
        <ul class="nav-menu-list">
            <li class="nav">
                <a href="news.html" class="nav-link">最新消息</a>
            </li>
            
            <!-- Dropdown 1: 認識協會 -->
            <li class="nav">
                <button class="nav-dropdown-button" aria-controls="dropdown-about" aria-expanded="false">
                    認識協會 
                    <img class="icon-arrow" src="img/icon-arrow.svg" alt=""/>
                </button>
                <ul class="nav-dropdown" id="dropdown-about">
                    <li><a class="nav-dropdown-item" href="about.html">關於協會</a></li>
                    <li><a class="nav-dropdown-item" href="organization.html">組織架構</a></li>
                    <li><a class="nav-dropdown-item" href="member.html">成員介紹</a></li>
                    <li><a class="nav-dropdown-item" href="bylaw.html">本會章程</a></li>
                    <li><a class="nav-dropdown-item" href="minutes.html">會議記錄</a></li>
                </ul>
            </li>

            <!-- Dropdown 2: 專業服務 -->
            <li class="nav">
                <button class="nav-dropdown-button" aria-controls="dropdown-services" aria-expanded="false">
                    專業服務 
                    <img class="icon-arrow" src="img/icon-arrow.svg" alt=""/>
                </button>
                <ul class="nav-dropdown" id="dropdown-services">
                    <li><a class="nav-dropdown-item" href="remodeling.html">環境改造</a></li>
                    <li><a class="nav-dropdown-item" href="inspection.html">環境檢測</a></li>
                    <li><a class="nav-dropdown-item" href="workshop.html">體驗工作坊</a></li>
                    <li><a class="nav-dropdown-item" href="lectures.html">系列演講</a></li>
                    <li><a class="nav-dropdown-item" href="academic.html">學術活動</a></li>
                </ul>
            </li>

            <!-- Dropdown 3: 推廣行動 -->
            <li class="nav">
                <button class="nav-dropdown-button" aria-controls="dropdown-outreach" aria-expanded="false">
                    推廣行動 
                    <img class="icon-arrow" src="img/icon-arrow.svg" alt=""/>
                </button>
                <ul class="nav-dropdown" id="dropdown-outreach">
                    <li><a class="nav-dropdown-item" href="campaign_overview.html">推廣行動</a></li>
                    <li><a class="nav-dropdown-item" href="knowledge.html">知識分享</a></li>
                    <li><a class="nav-dropdown-item" href="practice.html">改善實務</a></li>
                    <li><a class="nav-dropdown-item" href="certification.html">標章認證</a></li>
                    <li><a class="nav-dropdown-item" href="results.html">推廣成果</a></li>
                </ul>
            </li>

            <!-- Dropdown 4: 資源連結 -->
            <li class="nav">
                <button class="nav-dropdown-button" aria-controls="dropdown-resources" aria-expanded="false">
                    資源連結 
                    <img class="icon-arrow" src="img/icon-arrow.svg" alt=""/>
                </button>
                <ul class="nav-dropdown" id="dropdown-resources">
                    <li><a class="nav-dropdown-item" href="regulations.html">法規資訊</a></li>
                    <li><a class="nav-dropdown-item" href="guide.html">設計指南</a></li>
                    <li><a class="nav-dropdown-item" href="reference.html">參考資料</a></li>
                    <li><a class="nav-dropdown-item" href="faq.html">常見問題</a></li>
                </ul>
            </li>

            <!-- Dropdown 5: 加入我們 -->
            <li class="nav">
                <button class="nav-dropdown-button" aria-controls="dropdown-join" aria-expanded="false">
                    加入我們 
                    <img class="icon-arrow" src="img/icon-arrow.svg" alt=""/>
                </button>
                <ul class="nav-dropdown" id="dropdown-join">
                    <li><a class="nav-dropdown-item" href="join.html">成為會員</a></li>
                    <li><a class="nav-dropdown-item" href="volunteer.html">志工招募</a></li>
                    <li><a class="nav-dropdown-item" href="proposal.html">合作提案</a></li>
                    <li><a class="nav-dropdown-item" href="donate.html">捐款支持</a></li>
                </ul>
            </li>
        </ul>

        <img class="nav-divider" src="img/nav-divider.svg" alt=""/>

        <a href="https://www.aaedt.org.tw/blog/asdc/" target="_blank" class="nav-2"
           rel="noopener noreferrer" aria-label="學生競圖 (新視窗開啟)">
            <div class="nav-link">學生競圖</div>
            <img class="icon-external" src="img/icon-external.svg" alt=""/>
        </a>

        <!-- A11y updated ends -->

    <!-- comment 這裡做對比     
    <div class="nav-content-wrapper">
        <ul class="nav-menu-list">
            <li class="nav">
                <a href="news.html" class="nav-link">最新消息</a>
            </li>
            <li class="nav">
                <div class="nav-link">認識協會</div>
                <img class="icon-arrow" src="img/icon-arrow.svg" alt=""/>
                <div class="nav-dropdown">
                    <a class="nav-dropdown-item" href="about.html">關於協會</a>
                    <a class="nav-dropdown-item" href="organization.html">組織架構</a>
                    <a class="nav-dropdown-item" href="member.html">成員介紹</a>
                    <a class="nav-dropdown-item" href="bylaw.html">本會章程</a>
                    <a class="nav-dropdown-item" href="minutes.html">會議記錄</a>
                </div>
            </li>
            <li class="nav">
                <div class="nav-link">專業服務</div>
                <img class="icon-arrow" src="img/icon-arrow.svg" alt=""/>
                <div class="nav-dropdown">
                    <a class="nav-dropdown-item" href="remodeling.html">環境改造</a>
                    <a class="nav-dropdown-item" href="inspection.html">環境檢測</a>
                    <a class="nav-dropdown-item" href="workshop.html">體驗工作坊</a>
                    <a class="nav-dropdown-item" href="lectures.html">系列演講</a>
                    <a class="nav-dropdown-item" href="academic.html">學術活動</a>
                </div>
            </li>
            <li class="nav">
                <div class="nav-link">推廣行動</div>
                <img class="icon-arrow" src="img/icon-arrow.svg" alt=""/>
                <div class="nav-dropdown">
                    <a class="nav-dropdown-item" href="campaign_overview.html">推廣行動</a>
                    <a class="nav-dropdown-item" href="knowledge.html">知識分享</a>
                    <a class="nav-dropdown-item" href="practice.html">改善實務</a>
                    <a class="nav-dropdown-item" href="certification.html">標章認證</a>
                    <a class="nav-dropdown-item" href="results.html">推廣成果</a>
                </div>
            </li>
            <li class="nav">
                <div class="nav-link">資源連結</div>
                <img class="icon-arrow" src="img/icon-arrow.svg" alt=""/>
                <div class="nav-dropdown">
                    <a class="nav-dropdown-item" href="regulations.html">法規資訊</a>
                    <a class="nav-dropdown-item" href="guide.html">設計指南</a>
                    <a class="nav-dropdown-item" href="reference.html">參考資料</a>
                    <a class="nav-dropdown-item" href="faq.html">常見問題</a>
                </div>
            </li>
            <li class="nav">
                <div class="nav-link">加入我們</div>
                <img class="icon-arrow" src="img/icon-arrow.svg" alt=""/>
                <div class="nav-dropdown">
                    <a class="nav-dropdown-item" href="join.html">成為會員</a>
                    <a class="nav-dropdown-item" href="volunteer.html">志工招募</a>
                    <a class="nav-dropdown-item" href="proposal.html">合作提案</a>
                    <a class="nav-dropdown-item" href="donate.html">捐款支持</a>
                </div>
            </li>
        </ul>

        <img class="nav-divider" src="img/nav-divider.svg" alt=""/>

        <a href="https://www.aaedt.org.tw/blog/asdc/" target="_blank" class="nav-2">
            <div class="nav-link">學生競圖</div>
            <img class="icon-external" src="img/icon-external.svg" alt=""/>
        </a> -->
    </div>
</nav>