.div-wrapper {
    background-color: #ffffff;
    overflow: hidden;
    /* border: 1px solid;*/
    /*border-color: #3c3831;*/
    width: 100%;
    min-width: 1280px;
    /* min-height: 4660px;  <-- 建議刪除或註解掉這行，讓內容自動撐開高度 */
    position: relative;
    margin: 0 auto;
    padding-bottom: 0; /* 確保沒有多餘留白 */
}

.div-wrapper .frame {
    display: flex;
    flex-direction: column;
    width: 1280px;
    align-items: flex-start;
    position: relative; /* ✅ 改成相對定位 */
    margin-top: 100px;  /* ✅ 把原本的 top 改成 margin-top */
    left: 50%;
    transform: translateX(-50%);
}

.div-wrapper .nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    align-self: stretch;
    width: 100%;
    background-color: var(--neautral-0);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #e7e7e7;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
}

.div-wrapper .nav-logo {
    position: relative;
    width: 200px;
    height: 60px;
}

.div-wrapper .group {
    position: absolute;
    top: calc(50.00% - 23px);
    left: calc(50.00% - 100px);
    width: 200px;
    height: 46px;
}

.div-wrapper .div {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.div-wrapper .frame-2 {
    display: inline-flex;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
}

.div-wrapper .nav {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px 8px;
    position: relative;
    flex: 0 0 auto;
}

.div-wrapper .text-wrapper {
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Noto Sans", Helvetica;
    font-weight: 500;
    color: var(--neautral-40);
    font-size: 18px;
    line-height: normal;
    position: relative;
    letter-spacing: 0;
}

.div-wrapper .frame-3 {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #191410;
}

.div-wrapper .text-wrapper-2 {
    width: fit-content;
    margin-top: -2.00px;
    margin-left: -1.00px;
    -webkit-text-stroke: 0.2px #191410;
    font-weight: 500;
    color: var(--neautral-50);
    font-size: 18px;
    line-height: normal;
    position: relative;
    font-family: "Noto Sans", Helvetica;
    letter-spacing: 0;
}

.div-wrapper .icon {
    position: relative;
    width: 24px;
    height: 24px;
}

.div-wrapper .vector {
    position: relative;
    width: 2px;
    height: 22px;
}

.div-wrapper .nav-2 {
    display: inline-flex;
    justify-content: center;
    gap: 8px;
    padding: 10px 8px;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
}

.div-wrapper .frame-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 20px 80px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--neautral-10);
}

.div-wrapper .breadcrumb {
    gap: 4px;
    display: inline-flex;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
}

.div-wrapper .breadcrumb-2 {
    justify-content: center;
    gap: 10px;
    display: inline-flex;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
}

.div-wrapper .text-wrapper-3 {
    width: fit-content;
    margin-top: -1.00px;
    font-weight: 400;
    color: #534c46;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    position: relative;
    font-family: "Noto Sans", Helvetica;
    letter-spacing: 0;
}

.div-wrapper .text-wrapper-4 {
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Noto Sans", Helvetica;
    font-weight: 400;
    color: #534c46;
    font-size: 20px;
    line-height: 30px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
}

.div-wrapper .text-wrapper-5 {
    width: fit-content;
    margin-top: -1.00px;
    font-weight: 600;
    color: #534c46;
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    white-space: nowrap;
    position: relative;
    font-family: "Noto Sans", Helvetica;
    letter-spacing: 0;
}

.div-wrapper .frame-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.div-wrapper .h-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.div-wrapper .h {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 0 auto;
    justify-content: center;
    position: relative;
}

.div-wrapper .h-2 {
    display: flex;
    align-items: center;
    align-self: stretch;
    height: 40px;
    margin-top: -1.00px;
    font-family: "Noto Sans", Helvetica;
    font-weight: 500;
    color: var(--neautral-40);
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: 48px;
    white-space: nowrap;
    justify-content: center;
    position: relative;
}

.div-wrapper .rectangle {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 12px;
}

.div-wrapper .frame-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.div-wrapper .text-wrapper-6 {
    position: relative;
    width: 800px;
    margin-top: -1.00px;
    font-family: "Noto Sans", Helvetica;
    font-weight: 600;
    color: #534c46;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 27px;
}

.div-wrapper .AAEDT {
    width: 800px;
    font-weight: 400;
    color: #534c46;
    font-size: 18px;
    text-align: center;
    line-height: 27px;
    position: relative;
    font-family: "Noto Sans", Helvetica;
    letter-spacing: 0;
}

.div-wrapper .intersect {
    align-self: stretch;
    width: 100%;
    position: relative;
    height: 60px;
}

.div-wrapper .frame-7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 60px 120px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.div-wrapper .frame-8 {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.div-wrapper .frame-9 {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    align-self: stretch;
}

.div-wrapper .text-wrapper-7 {
    margin-top: -1.00px;
    font-weight: 600;
    position: relative;
    align-self: stretch;
    font-family: "Noto Sans", Helvetica;
    color: #534c46;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
}

.div-wrapper .text-wrapper-8 {
    position: relative;
    align-self: stretch;
    font-family: "Noto Sans", Helvetica;
    font-weight: 400;
    color: #534c46;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
}

.div-wrapper .frame-10 {
    position: relative;
    flex: 1;
    flex-grow: 1;
    height: 387px;
    border-radius: 12px;
    background-image: url(https://c.animaapp.com/mle5rj50uQSLnl/img/-----2025-09-23-21-09-13-1-3.png);
    background-size: cover;
    background-position: 50% 50%;
}

.div-wrapper .frame-11 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.div-wrapper .img {
    width: 1280px;
    position: relative;
    height: 60px;
}

.div-wrapper .frame-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 0px 120px 40px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--neautral-10);
}

.div-wrapper .text-wrapper-9 {
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Noto Sans", Helvetica;
    font-weight: 400;
    color: #534c46;
    font-size: 18px;
    line-height: 27px;
    position: relative;
    letter-spacing: 0;
}

.div-wrapper .frame-12 {
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.div-wrapper .frame-13 {
    border-radius: 20px 0px 0px 0px;
    border: 1px solid;
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 0px;
    position: relative;
    align-self: stretch;
    border-color: #837a73;
}

.div-wrapper .text-wrapper-10 {
    width: fit-content;
    font-family: "Noto Sans", Helvetica;
    font-weight: 400;
    color: var(--neautral-30);
    font-size: 18px;
    line-height: 27px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
}

.div-wrapper .frame-14 {
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    flex: 1;
    flex-grow: 1;
    border-radius: 0px 20px 0px 0px;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #837a73;
    display: flex;
    position: relative;
}

.div-wrapper .text-wrapper-11 {
    flex: 1;
    margin-top: -1.00px;
    font-family: "Noto Sans", Helvetica;
    font-weight: 400;
    color: var(--neautral-30);
    font-size: 18px;
    line-height: 27px;
    position: relative;
    letter-spacing: 0;
}

.div-wrapper .frame-15 {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 0px;
    position: relative;
    align-self: stretch;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-color: #837a73;
}

.div-wrapper .frame-16 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #837a73;
}

.div-wrapper .text-wrapper-12 {
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Noto Sans", Helvetica;
    font-weight: 400;
    color: var(--neautral-30);
    font-size: 18px;
    line-height: 27px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
}

.div-wrapper .frame-17 {
    border-radius: 0px 0px 0px 20px;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 0px;
    position: relative;
    align-self: stretch;
    border-color: #837a73;
}

.div-wrapper .element-wrapper {
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    flex: 1;
    flex-grow: 1;
    border-radius: 0px 0px 20px 0px;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #837a73;
    display: flex;
    position: relative;
}

.div-wrapper .footer {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 381px;
    background-color: var(--neautral-10);
    border-top-width: 1px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-color: #e7e7e7;
}

.div-wrapper .bg {
    position: absolute;
    top: calc(50.00% - 190px);
    left: calc(50.00% - 640px);
    width: 1280px;
    height: 381px;
}

.div-wrapper .frame-18 {
    display: flex;
    width: 1040px;
    align-items: flex-end;
    gap: 40px;
    position: absolute;
    top: 60px;
    left: 120px;
}

.div-wrapper .frame-19 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.div-wrapper .footer-logo {
    position: relative;
    width: 220px;
    height: 80px;
}

.div-wrapper .group-2 {
    position: absolute;
    top: calc(50.00% - 32px);
    left: calc(50.00% - 103px);
    width: 206px;
    height: 63px;
}

.div-wrapper .frame-20 {
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
}

.div-wrapper .footer-social-media {
    position: relative;
    width: 36px;
    height: 36px;
}

.div-wrapper .footer-social-media-2 {
    position: relative;
    width: 36px;
    height: 36px;
    background-image: url(https://c.animaapp.com/mle5rj50uQSLnl/img/mask-group-2.png);
    background-size: 100% 100%;
}

.div-wrapper .frame-21 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 20px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    position: relative;
}

.div-wrapper .frame-22 {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.div-wrapper .text-wrapper-13 {
    flex: 1;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: var(--neautral-50);
    font-size: 14px;
    line-height: 16.8px;
    position: relative;
    letter-spacing: 0;
}

.div-wrapper .frame-23 {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
}

.div-wrapper .div-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.div-wrapper .footer-pagelink {
    display: flex;
    width: 240px;
    align-items: center;
    gap: 4px;
    padding: 12px 0px;
    position: relative;
    flex: 0 0 auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #534c46;
}

.div-wrapper .footer-illustration {
    position: relative;
    width: 16px;
    height: 16px;
}

.div-wrapper .text-wrapper-14 {
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Noto Sans", Helvetica;
    font-weight: 500;
    color: var(--neautral-40);
    font-size: 16px;
    line-height: 19.2px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
}
