@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./public/fonts/inter-400.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('./public/fonts/inter-800.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url('./public/fonts/noto-sans-400.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  src: url('./public/fonts/noto-sans-500.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  src: url('./public/fonts/noto-sans-600.ttf') format('truetype');
}
