.back-group {
  display: flex;
  justify-content: space-between;
  font-family: Noto Sans TC;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #1a1410;
  border-bottom: 1px solid #534c46;
  width: 10rem;
  padding: 12px 16px;
}

.minutes-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
