:root {
  --neautral-40: rgba(83, 76, 70, 1);
  --neautral-50: rgba(26, 20, 16, 1);
  --neautral-60: rgba(0, 0, 0, 1);
  --primarylogoyellow: rgba(229, 195, 62, 1);
  --primaryorange: rgba(239, 158, 29, 1);
  --neautral-10: rgba(245, 244, 242, 1);
  --neautral-0: rgba(255, 255, 255, 1);
  --primaryyellow: rgba(254, 219, 0, 1);
  --neautral-30: rgba(131, 123, 116, 1);
  --neautral-20: rgba(231, 231, 231, 1);
}
